.dropdown {
    margin-bottom: 20px;
}

.dropdown__button {
    background-color: #ff6060;
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    border: none;
    cursor: pointer;
}

.dropdown__arrow {
    transition: transform 0.3s ease;
}

.dropdown__arrow.close {
    transform: rotate(180deg);
}

.dropdown__content {
    margin-top: 10px;
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}


.aboutPage .dropdown__button {
    width: 100%;
}

.logementPage .logement__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.logementPage .dropdown__button {
    width: 50%;

}

.logementPage .dropdown__content {
    width: 47.5%;
}