.notfound-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.notfound-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.notfound-content h1 {
    font-size: 20rem;
    color: #ff6060;
    margin: 0;

    p {
        margin-top: 20px;
    }

    a {
        margin-top: 20px;
    }
}

.notfound-content p {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #ff6060
}

.back-home-link {
    color: black;
    font-size: 1rem;


    padding: 10px 20px;
    border-radius: 5px;


    &:hover {
        text-decoration: underline;
    }
}